
/* @import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap'); */

@font-face {
	font-family: GloriaHalleluJah;
	src: url("../assets/fonts/GloriaHallelujah-Regular.ttf");
	font-family: RadioCanada;
	src: url("../assets/fonts/Radio_Canada/RadioCanada-VariableFont_wdth,wght.ttf");
}

body {
	/* background-color: #0090FF; */
	/* background: url("../assets/img/rainbowbg-3.png") repeat; */
	overflow-x: hidden !important; /*Watch out!*/
}

body, body * {
	margin: 0;
	padding: 0;

	/* font-family: GloriaHalleluJah; */
	font-family: RadioCanada, sans-serif;
}

a {
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
}

strong {
	font-weight: 800;
	/* font-variant: small-caps; */
	color: #0000FF; /*looks like a hyperlink?*/
	font-variant: small-caps;
}

li {
	margin-left: 40px;
}

/*form {
	outline: 1px solid white;
	/* border-radius: 8px; *
	display: flex;
	flex-direction: column;
	background-color: #004;
	/* padding-top: 3px; *
	padding-bottom: 10px;
}

form > * {
	margin-left: 12px;
	margin-right: 12px;
}

form label {
	margin-top: 10px;
	margin-bottom: 2px;
	font-variant: small-caps;
}

textarea, input {
	border: none;
	outline: 2px solid blue;
	padding: 0.5em;
	font-size: 0.75em;

}

input:hover {
	border-left: 10px solid green;
}*/

#side-bar {
	position: fixed;
	width: 12vw;
	min-width: 100px;
	background-color: white;
	/* height: 100vh; */
	height: 100vh;
	top: 0vh;
    left: 0vh;
	outline: 3px solid #334;
    /* border: 1vh solid #112; */
	/* z-index: -5; */
    /*background-color: #0090FF;/*rgb(61, 105, 236);*/
    	background-color: #EEF8;
	/*backdrop-filter: blur(2px);*/
	-webkit-backdrop-filter: blur(4px);

    /* text-align: center; */

	display: flex;
	flex-direction: column;
	font-size: 1.2em;
}

/* #side-bar > * {
	background-color: red;
} */

#side-bar > h1 {
	/*text-decoration: underline;*/
	border-bottom: 2px solid #112;
    margin-bottom: 8px;
	/* padding-left: 12px; */
	/* border-left: 16px solid black; */
	/*margin-left: 16px;*/
	text-align: center;
}

#side-bar > a {
	/* border-left: 16px solid #FEA;#33E; */
    border: 2px solid #112;
    /* margin: 0 10px; */
	margin: 2px 10px;
	transition: padding 0.2s;
    padding: 4px 0;
	/*width: 92%;*/
	/*background-color: #F99;*/
	/*font-size: 1.2em;*/
    text-align: center;
	white-space: nowrap;
}

#side-bar > a:hover {
	padding: 42px 0;
    border-color: #00F;
    /* border-width: 3px; */
	/*color: #33E;*/
	/* color: #E33; */
}

#side-bar > img {
	margin-top: auto;
	align-self: end;
}

#contents {
	width: 80vw;
	min-height: 100vh;
	float: right;
	/* margin-left: calc(12vw + 24px + (30vw - 12vw - 24px) / 2); */

	/* background-color: #FFFFFF80; */
	/* backdrop-filter: blur(2px); <--- needs webkit version too */

	/* outline: 2px solid #112; */
    /* margin-top: 6vh; */
	/*z-index: 50;*/

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#top-item {
	width: 100%;
	height: 10vh;
	background-color: white;
	outline: 4px solid #999;
	font-variant: small-caps;
	font-size: 2em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.post {
	/* flex-grow: 1;	 */
	width: 80%;
    margin: 0 auto;

	min-width: 500px;
	/* margin-left: 20vw; */
	/* margin: 10vh auto; */
	margin: 10vh auto;
	background-color: #FFFC;

	outline: 3px solid #444;
	/* border: 4px solid #9955FF; */
	/*padding: 1px;*/

	/*good*/
	/*box-shadow: blue 0px 0px 17px;*/
	/*border-radius: 2px;*/

	/* border: 3px solid #000; */
	/* border-radius: 2px; */

	/* color: #CCF; */
	/* background-color: black; */

	font-size: 1.2em;
}

.post h1 {
	font-size: 1.6em;
	color: #0090FF;
    /* text-align: center; */
}

.post h2 {
	font-size: 1.4em;
	color: #005080;
}

.post p {
	font-size: 1.0em;
	/*background-color: #00F;*/
}

/*#color-barrier {
	background-color: aquamarine;
	/*height: 2%;/
	height: 2vh;
	width: 100%;
}*/

#footer {
	background-color: #33A;
	/*height: 20%; /* <-- works with flexbox */
	height: 20vh;
	color: #FFB;/*oof white for the biblical text?*/

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#footer-center {
	width: 90%;
	/*background-color: red;*/
	/*border: 2px solid blue;*/
	margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
#side-bar * {
	font-variant: small-caps;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
	/* font-variant: small-caps; */
	margin-top: 12px;
	margin-bottom: 5px;
	/* font-weight: 800; */
}

.post a, #title a {
	background-color: blue;
	border: 2px solid blue;/*#AAF0;*/
	color: white;
	padding: 3px;
}

/*#content a*/
/*todo: remove #title a: hover?*/
.post a:hover, #title a:hover {
	border-color: black;
	background-color: #0000;
	color: black;
}

.post > * {
	margin-left:  24px;
	margin-right: 24px;
	width: auto;
	height: auto;
	/* display: inline-block; */
	/* font-weight: 300; */
}

.post:first-child {
	margin-top: 24px !important;
}

.post:last-child {
	margin-bottom: 24px !important;
}

/*footer {
	width: ;
}*/

#game-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: grey;
	color: white;
}

/* Where interacting WASM games go */
#game-container {
	border: 2px solid black;
	width: 700px;
	height: 700px;
	margin: auto;
}

/**
 * Canvas that the actual game goes on
 * This is kept seperate from the game container id
 * Note:
 * The canvas cannot have borders or padding, as those can interfere with the accuracy of the mouse coordinates
 */
#canvas {
	border: none;
	padding: 0; /* doubt this is need, but why not  */
}