@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* @font-face {
    font-family: 'Gloria Hallelujah';
    src: url("fonts/GloriaHallelujah-Regular.ttf");
} */

::selection {
    background-color: rgb(255, 250, 182);
    color: #0d0d0d;
    /* background-color: orangered;
    color: white; */

}

::-moz-selection {
    background-color: rgb(255, 250, 182);
    color: #0d0d0d;
}

:root {}

body, body * {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(144, 100%, 80%);
    /* background: url("../images/background.png"); */
    font-family: 'Source Sans Pro', Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

a {
    text-decoration: inherit;
    color: inherit;
}

video {
    width: 100%;
}

#main_menu {
    display: flex;
    /* width: 100%; */
    outline: 1px solid #0d0d0d;
    height: 14vh;

    margin-bottom: 10vh;
}

#main_menu > a {
    width: 100%;
    height: 100%;
    border: 1px solid #0d0d0d;
    box-sizing: border-box;
    background-color: hsl(0, 100%, 80%);
    font-weight: bold;
    color: hsl(36, 100%, 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#main_menu > a > li {
    transform: rotate(-10deg);
    list-style-type: none;

    transition: transform 0.25s;
}

#main_menu > a:hover {
    background-color: hsl(72, 100%, 80%);
    color: hsl(36, 100%, 50%);
}

#main_menu > a:hover > li {
    transform: rotate(10deg);
}

#table_of_contents {
    width: 16%;
    float: left;
    margin: 10vh 0 0 10%;

    padding: 1% 0;

    border: 2px solid #0d0d0d;
    box-shadow: 10px 10px #0d0d0d9e;

    background-color: #33bbff;

    position: sticky;
    position: -webkit-sticky;
    top: 2vh;
}

#table_of_contents a { /* a or > a ?*/
    color: #e0e0ff;
    display: block;
    border-left: 10px solid #00000000;
    
    margin: 0 10px;
    padding-left: 10px;
}

#table_of_contents a:hover {
    border-left: 10px solid #80d4ff;
    /* background-color: green; */
    color: white;
}

.article {
    border: 3px solid #0d0d0d;
    box-sizing: border-box;
    color: #0d0d0d;
    width: 48%;
    float: right;
    margin: 10vh 10% 10vh 0;
    /* padding: 20px 0; */
    /* background-color: #c0c0c0; */
    background-color: white;
    /* border-radius: 3px; */
    padding: 2% 0;

    box-shadow: 15px 15px #0d0d0d9e;
}

.article > .text {
    width: 80%;
    margin: auto;
}

/* .article > p {
    width: 80%;
    margin: auto;
} */

.article.single {
    width: 80%;
    margin: 10vh 10%;
    /* margin: 10vh 25vw; */
}

#footer {
    width: 100%;
    height: 30vh;
    background-color: #3d3d8f;
    clear: both;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#footer > h1 {
    font-size: 1.4em;
}

#footer > li {
    font-size: 1.4em;
}

#footer a {
    color: #e0e0ff;
}

#footer a:hover {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    #main_menu {
        flex-wrap: wrap;
    }

    #main_menu > a {
        width: 14vh;/*100px;*/
        flex-grow: 1;
    }

    #table_of_contents {
        width: 80%;
    }

    .article {
        width: 80%;
    }
}
